/* Selector Specificity:(0,0,1) */
   body {
   background-color: #f2f2f2;
}

/* Selector Specificity:(0,0,1) */
h1 {
   text-align: center;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #11546f;
   width: auto;
   height: auto;
}

/* Selector Specificity:(0,1,0) */
.container {
	width: 90%;
   height: auto;
	margin: auto;
	overflow: hidden;
   border: 3px solid #8b0000;
}

/* Selector Specificity:(1,0,0) */
#title {
	width: auto;
   height: auto;
   border-style: dotted;
   margin: 1.5px;
}

/* Selector Specificity:(0,1,0) */
.highlight {
   font-family:'Lucida Handwriting', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
   color: #5f9ea0;
}

/* Selector Specificity:(0,1,0) */
.food {
   margin-top: 10px;
   margin-bottom: 10px;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

/* Selector Specificity:(0,1,0) */
.faves {
   border-style: double;
   font-family: 'Century Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
   color: #c71f73;
   font-weight: 500;
   text-align: center;
}

/* Selector Specificity:(0,0,1) */
ul {
   padding-bottom: 10px;
   text-align: center;
   width: 100%;
}

/* Selector Specificity:(0,0,1) */
li {
   font-family:Arial, Helvetica, sans-serif;
   font-size: 1.2rem;
   align-content: center;
   list-style: none;
   margin-right: 10%;
}

/* Selector Specificity:(0,1,0) */
.quotes {
	width: 90%;
   height: auto;
	margin: auto;
	overflow: hidden;
   border: 3px solid #000000;
   text-align: center;
   background-color: #f2f2f2;
   padding-bottom: 10px;
}

/* Selector Specificity:(0,0,1) */
h2 {
   font-family: Century, Arial, sans-serif;
   margin-top: .5rem;
   margin-bottom: .5rem;
   border-style: dotted;
   border-color:#ff6666;
}

/* Selector Specificity:(0,0,1) */
p {
   font-family:Arial, Helvetica, sans-serif;
   font-size: 1.2rem;
   font-style: italic;
   font-weight: 700px;
   font-weight: bold;
}

/* Selector Specificity:(0,1,1) */
p.first {
   color: #5f9ea0;
   width: auto;
   height: auto;
   border-style: outset;
   margin: 1.5px;
   margin-top: 1rem;
   margin-bottom: 1rem;

}

/* Selector Specificity:(0,1,1) */
p.second {
   color:#8b0000;
   width: auto;
   height: auto;
   border-style: outset;
   margin: 1.5px;
   margin-top: .25rem;
   margin-bottom: 1rem;

}

/* Selector Specificity:(0,1,1) */
p.third {
   color:#1f97c7;
   width: auto;
   height: auto;
   border-style: outset;
   margin: 1.5px;
   margin-top: .25rem;
   margin-bottom: 1rem;

}

/* Selector Specificity:(0,1,1) */
p.fourth {
   color: #ff6666;
	width: auto;
   height: auto;
   border-style: outset;
   margin: 1.5px;
   margin-top: .25rem;
   margin-bottom: .25rem;
}