div {
   width: 300px;
   height: 150px;
   border-top-left-radius: 4.1rem;
   border-top-right-radius: 4.1rem;
   border-bottom-left-radius: 4.1rem;
   border-bottom-right-radius: 4.1rem;
   margin: 5px;
   display: inline-block;
}

.lemon1 {
   background-color: #ffb3d9;
   border: .25em solid #cc0066;

}

.lemon2 {
   background-color: #adebeb;
   border: .25em solid #28a4a4;
}

.lemon3 {
   background-color: #ff9999;
   border: .25em solid #ff3333;
}

.lemon4 {
   background-color: #bfff80;
   border: .25em solid #73e600;
}

.lemon5 {
   background-color: #dd99ff;
   border: .25em solid #8800cc;
}
