body {
   font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

.container {
   border-style: double;
   padding: 1px 4px 1px 4px;
}

header {
   width: 100%;
   text-align: center;
   margin-bottom: 2px;
}

nav {
   display: block;
   text-align: center;
}

li {
   list-style: none;
   }

a {
   text-decoration: none;   
}   

section {
   width: 60%;
   float: left;
}

#history {
   height: 250px;
}

aside {
   width: 39.5%;
   float: right;
}

#new {
   height: 508px;
}

article {
   width: 60%;
   float: left;
}

#up {
   height: 250px;
}
footer {
   width: 100%;
   text-align: center;
   display: inline-block;
}
