body {
   width: 100%;
   height: 100%;
   display: flex;   
   justify-content: flex-start;
   align-items: center;
   padding: 0;
   margin: 0;
}

#box {
   width: 60%;
   height: 500px;
   border: 2px solid black;
   margin: auto;
}

.ball {
   margin-top: 10px;
   position: relative;
   left: 0;
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   border: 2px solid black;
   background-color: darkcyan;
   animation-name: bounce;
   animation-duration: 1s;
   animation-direction: alternate;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
}

@keyframes bounce {
   0% { top: 0px; left: 0px; }
   25% { top: 160px; left: 100px; } 
   50% { top: 0px; left: 200px; }
   75% { top: 160px; left: 300px; } 
   100% { top: 0px; left: 400px; }
}
