img {
   width: 100%;
}

body {
   font-size: 1.5em;
}

p::first-letter {
   font-family: 'Lucida Sans', 'Century Gothic', 'Goudy Old Style', Impact;
   font-size: 1.8rem;
   font-weight: bold;
}

p::first-line {
   font-family: 'Lucida Handwriting', 'Brush Script MT', 'MV Boli', Impact;
   color: blue;
}

