* {
   box-sizing: border-box;
}
body {
   font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   margin: 0;
   background-color: blanchedalmond;
}

.main-page {
   background-image: url("../img/woc.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 0px 0px;
}

.heading {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
}

nav {
   background-color: rgb(42, 223, 223);
   font-size: 1.5rem;
   line-height: 3rem;
   text-align: right;
   border: 10px double navy;
}

a {
   color: black;
   text-decoration: none;
   margin: 1rem;
   list-style: none;
   display: inline;
}

a:hover {
   color: goldenrod;
   font-weight: bold;
}

.current {
   color:darkcyan;
}

header {
   text-align: center;
   border: 10px double rgb(42, 223, 223);
   color: white;
   background-color: navy;
}

h1 {
   font-family: 'Lucida Handwriting', 'Century Gothic', Arial, Helvetica, sans-serif;
   font-size: 1.75rem;
   line-height: 2rem;
   font-weight: 100;
   margin: 10px;
}

.spacer {
   height: 150px;
   width: auto;
}

.main-hobby {
   margin-top: 5px;
   height: auto;
   border: 10px double navy;
   margin-bottom: 5px;
   display: flex;
   flex: 1;
}

.main-disney {
   margin-top: 10px;
   height: auto;
   margin-bottom: 10px;
   display: flex;
   flex: 1;
}

.main-cats {
   margin-top: 10px;
   height: auto;
   display: flex;
   flex: 1;
}

.section-hobby {
   height: auto;
   width: 50%; 
   display: flex;
   flex-direction: column;
   flex-flow: column nowrap;
   flex: 1;
   float: left;
}

.section-disney {
   width: 90%;
   margin: auto;
}

.section-cats {
   width: 98%;
   margin: auto;
}

#dis-one {
   width: 90%;
   border: 3px solid black;
   margin-bottom: 15px;
   margin-left: 5%;
   margin-right: 5%;
}

#dis-two {
   width: 90%;
   border: 3px solid black;
   margin-bottom: 15px;
   margin-left: 5%;
   margin-right: 5%;
}

#cat-story {
   width: 100%;
   margin: auto;
   border: 3px solid black;
   margin-bottom: 15px;
}

#alexis {
   width: 100%;
   margin: auto;
   border: 3px solid black;
   margin-bottom: 15px;
}

#bella {
   width: 100%;
   margin: auto;
   border: 3px solid black;
   margin-bottom: 15px;
}

#dis-top {
   display: flex;
   flex-direction: row;
   flex-flow: row nowrap;
}

#dis-bottom {
   display: flex;
   flex-direction: row;
   flex-flow: row nowrap;
}

div.image {
   margin: auto;
   width: 85%;
   margin-top: 10px;
   padding-top: 5px;
}

div.image-kittens {
   display: flex;
   flex-direction: row;
   flex-flow: row nowrap;
}

div.image-alex {
   display: flex;
   flex-direction: row;
   flex-flow: row nowrap;
}

div.image-bell {
   display: flex;
   flex-direction: row;
   flex-flow: row nowrap;
}

.image-info {
   height: auto;
   width: 100%;
   text-align: center;
   margin: auto;
   margin-top: 5px;
   box-sizing: border-box;
   border: 3px solid navy;
   padding: 5px 10px 5px 10px;
}

img {
   height: auto;
   width: 100%;
}

img.disney {
   height: auto;
   width: 100%;
   float: left;
}

img.cats {
   height: auto;
   width: 33.3%;
}

#one { 
   height: auto;
   width: 100%;
   display: flex;
   flex: 1;
   border: 10px double rgb(42, 223, 223);    
} 

#two { 
   height: auto;
   width: 100%;
   display: flex;
   flex: 1;
   border: 10px double rgb(42, 223, 223);    
}

div.aside-hobby {
   height: auto;
   width: 50%;
   border: 10px double rgb(42, 223, 223); 
   display: flex;
   flex-direction: column;
   flex-flow: column nowrap;
   flex: 1;
   float: right;
}

aside.image {
   margin: auto;
   width: 85%;
   margin-top: 10px;
   padding-top: 5px;
}

.image-info-one {
   height: auto;
   width: 100%;
   text-align: center;
   margin: auto;
   margin-top: 5px;
   margin-bottom: 50px;
   box-sizing: border-box;
   border: 3px solid navy;
   padding: 5px 10px 5px 10px;
}

.image-info-dis {
   height: auto;
   width: 100%;
   box-sizing: border-box;
   margin: auto;
   padding: 20px;
   text-align: center;
   font-size: 1.25rem;
   line-height: 1.5rem;
}

.image-kittens {
   display: flex;
   flex-direction: row;
   flex-flow: row nowrap;
}
.image-alex {
   display: flex;
   flex-direction: row;
   flex-flow: row nowrap;
}
.image-bell {
   display: flex;
   flex-direction: row;
   flex-flow: row nowrap;
}

.image-info-cats {
   height: auto;
   width: auto;
   box-sizing: border-box;
   margin: auto;
   padding: 20px;
   text-align: center;
   font-size: 1.25rem;
   line-height: 1.5rem;
}

footer {
   margin-top: 0;
   display: block;
   background-color: navy;
   color: white;
   text-align: center;
   border: 10px double rgb(42, 223, 223);
   clear: both;
   position: relative;
   font-size: 1rem;
   line-height: 1.5rem;
   font-weight: 100;
   font-family: 'Lucida Handwriting', 'Century Gothic', Arial, Helvetica, sans-serif;
}

.footer-fixed {
   position: fixed;
   width: 100%;
   bottom: 0;
   left: 0;
}

@media (max-width: 576px) {
   .main-page {
      background-image: url("../img/woc2.jpg");
      background-repeat: no-repeat;
      background-size: cover;   
      background-position: 0px 200px;
   }
   nav {
      line-height: 100px;
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;  
      padding: 0;
      border: 5px double navy;
   }
   a {
      line-height: 1.5rem;
      margin: auto;
      font-size: 1.25rem;
      height: auto;
      justify-content: center;
      margin: 0;
      text-align: center;
   }
   header {
      border: 5px double rgb(42, 223, 223);
   }
   h1 {
      font-size: 1rem;
      line-height: 1.25rem;
   }
   .spacer {
      height: 170px;
      width: auto;   
      margin-top: 10px;
   }
   .main-hobby {
      border: none;
      height: auto;
      display: block;
      margin-bottom: 0;
      margin-top: 5px;
   }
   .main-disney {
      height: auto;
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
   }
   .main-cats {
      height: auto;
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
   }
   .section-hobby {
      display: block;
      height: auto;
      width: 100%;
      margin-bottom: 5px;
   }
   .section-disney {
      height: auto;
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
   }
   .section-cats {
      height: auto;
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
   }
   div.image {
      margin: auto;
   }
   .image-info {
      margin-bottom: 10px;
      height: auto;
      width: 100%;
      padding: 5px;
   }
   img {
      height: auto;
      width: 100%;
   }
   img.cats {
      width: 100%;
      height: auto;
   }
   #one {
      display: block;
      border: 5px double navy;
      height: auto;
      width: 100%;
      margin-bottom: 5px;
   }
   #two {
      display: block;
      border: 5px double rgb(42, 223, 223);
      height: auto;
      width: 100%;
      margin-bottom: 5px;
   }
   #dis-one {
      margin-bottom: 10px;
   }
   #dis-top {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #dis-two {
      margin-bottom: 5px;
   }
   #dis-bottom {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #cat-story {
      margin-bottom: 10px;
      border: 5px double rgb(42, 223, 223);
   }
   #cat-top {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #cat-mid {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #cat-bottom {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   .image-kittens {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   .image-alex {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   .image-bell {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #alexis {
      margin-bottom: 10px;
      border: 5px double navy;
   }
   #bella {
      margin-bottom: 10px;
      border: 5px double rgb(42, 223, 223);
   }
   div.aside-hobby {
      display: block;
      border: 5px double navy;
      height: auto;
      width: 100%;
      margin-bottom: 5px;
   }
   aside.image {
      margin-bottom: 10px;
      height: auto;
      width: 85%;
      padding: 5px;
   }
   .image-info-one {
      margin-bottom: 10px;
      height: auto;
      width: 100%;
      padding: 5px;
   }
   .image-info-cats {
      height: auto;
      width: 100%;
      margin-left: 5px;
      padding: 5px;
      text-align:justify
   }
   footer {
      font-size: 1rem;
      line-height: 1.25rem;
      margin-top: 3px;
      border: 5px double rgb(42, 223, 223);
   }
}

@media (max-width: 768px) {
   .main-page {
      background-image: url("../img/woc2.jpg");
      background-repeat: no-repeat;
      background-size: cover;   
      background-position: 0px 200px;
   }

   nav {
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;  
      padding: 0;
      border: 5px double navy;
   }

   a {
      line-height: 1.25rem;
      margin: auto;
      font-size: 1.25rem;
      height: auto;
      justify-content: center;
      margin: 0;
      text-align: center;
   }
   header {
      border: 5px double rgb(42, 223, 223);
   }
   h1 {
      font-size: 1rem;
      line-height: 1rem;
   }
   .spacer {
      height: 170px;
      width: auto;   
      margin-top: 70px;
   }
   .main-hobby {
      border: none;
      display: block;
      margin-bottom: 0;
      margin-top: 5px;
   }
   .main-disney {
      height: auto;
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
   }
   .main-cats {
      height: auto;
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
   }
   .section-hobby {
      border: none;
      display: block;
      height: auto;
      width: 100%;
      margin-bottom: 5px;
   }
   .section-disney {
      height: auto;
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
   }
   .section-cats {
      height: auto;
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
   }
   div.image {
      margin: auto;
   }
   .image-info {
      margin-bottom: 10px;
      height: auto;
      width: 100%;
      padding: 5px;
   }
   img {
      height: auto;
      width: 100%;
   }
   img.cats {
      width: 100%;
      height: auto;
   }
   #one {
      display: block;
      border: 5px double navy;
      height: auto;
      width: 100%;
      margin-bottom: 5px;
   }
   #two {
      display: block;
      border: 5px double rgb(42, 223, 223);
      height: auto;
      width: 100%;
      margin-bottom: 5px;
   }
   #dis-one {
      margin-bottom: 10px;
   }
   #dis-top {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #dis-two {
      margin-bottom: 5px;
   }
   #dis-bottom {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #cat-story {
      margin-bottom: 10px;
      border: 5px double rgb(42, 223, 223);
   }
   #cat-top {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #cat-mid {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #cat-bottom {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap
   }
   .image-kittens {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   .image-alex {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   .image-bell {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #alexis {
      margin-bottom: 5px;
      border: 5px double navy;
   }
   #bella {
      margin-bottom: 5px;
      border: 5px double rgb(42, 223, 223);
   }
   div.aside-hobby {
      display: block;
      border: 5px double navy;
      height: auto;
      width: 100%;
      margin-bottom: 5px;
   }
   aside.image {
      margin-bottom: 10px;
      height: auto;
      width: 85%;
      padding: 5px;
   }
   .image-info-one {
      margin-bottom: 10px;
      height: auto;
      width: 100%;
      padding: 5px;
   }
   footer {
      font-size: .75rem;
      line-height: 1rem;
      margin-top: 5px;
      border: 5px double rgb(42, 223, 223);
   }
}

@media (max-width: 992px) {
   .main-page {
      background-repeat: no-repeat;
      background-size: cover;   
      background-position: 0px 200px;
   }
   nav {
      border: 5px double navy;
   }
   header {
      border: 5px double rgb(42, 223, 223);
   }
   h1 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin: 15px;
   }
   .spacer {
      height: 120px;
   }
   .main-cats {
      height: auto;
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
   }
   div.image {
      width: 80%;
      margin-top: 5px;
   }
   .section-hobby {
      height: auto;
   }
   .section-cats {
      height: auto;
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
   }
   .image-info {
      margin-bottom: 5px;
      height: auto;
      width: 100%;
      padding: 5px;
   }
   img {
      height: auto;
      width: 100%;
   }
   img.cats {
      width: 100%;
      height: auto;
   }
   #dis-one {
      margin-top: 10px;
      margin-bottom: 10px;
   }
   #dis-top {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #dis-two {
      margin-bottom: 5px;
   }
   #dis-bottom {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }  
   #cat-story {
      margin-bottom: 10px;
      border: 5px double rgb(42, 223, 223);
   }
   #cat-top {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #cat-mid {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #cat-bottom {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap
   }
   .image-kittens {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   .image-alex {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   .image-bell {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #alexis {
      margin-bottom: 5px;
      border: 5px double navy;
   }
   #bella {
      margin-bottom: 5px;
      border: 5px double rgb(42, 223, 223);
   }
   aside.image {
      width: 80%;
      margin-top: 5px;
   }
   .image-info-one {
      margin-bottom: 10px;
      height: auto;
      width: 100%;
      padding: 5px;
   }
   footer {
      border: 5px double rgb(42, 223, 223);
   }
}
@media (max-width: 1200px) {
   .main-page {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0px 100px;
   }
   .section-hobby {
      height: auto;
   }
   .section-cats {
      width: 98%;
      margin: auto;
   }   
   div.image {
      margin-top: 5px;
   }
   .image-info {
      height: auto;
      margin-bottom: 10px;
      padding: 5px;
   }
   img {
      height: auto;
      width: 100%;
   }
   #dis-one {
      margin-top: 10px;
      margin-bottom: 10px;
   }
   #dis-top {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #dis-two {
      margin-bottom: 5px;
   }
   #dis-bottom {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }  
   #one {
      height: auto;
   }
   #two {
      height: auto;
   }
   div.aside-hobby {
      height: auto;
   }
   aside.image {
      width: 85%;
      margin-top: 5px;
   }
   .image-info-one {
      height: auto;
      margin-bottom: 20px;
   }
}
@media (max-width: 1600px) {
   .main-page {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0px 50px;
   }
   .section-disney {
   width: 100%;
   margin: 10px ;
   }
   #dis-one {
      margin-top: 10px;
      margin-bottom: 10px;
   }
   #dis-top {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }
   #dis-two {
      margin-bottom: 5px;
   }
   #dis-bottom {
      display: flex;
      flex-direction: column;
      flex-flow: column nowrap;
   }  
   }
